.container {
  padding: 5%;
  margin-top: 12%;
  margin-right:30% ;
  border: 2px solid black;
  background-color:White;
  height: 80%;
  color:white;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,71,9,1) 0%, rgba(236,77,9,0.11248249299719892) 28%, rgba(0,212,255,1) 100%);
}

